*{
	margin: 0px;
	padding: 0px;
}

.bg-clr{
    background-color: #f5f8ff;
}
.org{
    color:#E95A08;
}

/* fonts */

.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container{
    max-width: 1160px;
	margin: 0px auto;
}

nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li{
    display: flex;
    justify-content: space-between;
    padding-left: 50px ;
    font-size: 16px;
}
.bld{
    font-weight: bold ;
}
.lt{
    color: #8987A1;
    font-weight: 400;
}
.banner{
    margin-top: 150px;
    display: flex;
    align-items: end;
}
.banner-content h1{
    font-weight: bold;
    font-size: 65px;
    padding-bottom: 13px;
}
.banner-content p{
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}
.two{
    display: flex;
    justify-content: space-between;
    margin: 130px auto;
}
two-image{
    position: absolute;
}
.tp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.two-text {
    padding-left:60px ;
}
.two-text ul{
    padding-left: 30px;
}

.two-text ul li{
    
    padding-bottom:30px ;
    font-weight: 400;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.two-text h3{
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 50px;
}


.two-image-one{
    position: absolute;
inset-inline-start: 800px;
inset-block-start: 650px;
animation: mymove 4s infinite;
}
@keyframes mymove {
  100% {transform: rotate(360deg);
}
}
.three{
    margin-top: 130px;
}
.three-title{
    text-align: center;
}
.three-title h3{
    padding-bottom: 16px;
    font-size: 50px;
    font-weight: bold;
}
.three-title p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    max-width:888px ;
    margin: 0px auto;
}
.partition{
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 120px;
    justify-content: space-between;
    

}
.parone{
    width:35%;
}
/* .overley{
    border:none;
    border-radius: 100%;
    border-image: linear-gradient( rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)) fill 1 ;
    
    
} */
.cd0ne{
    
    background-image:linear-gradient( rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(./assets/deal-bloom.png);
    background-size: cover;
    text-align: center;
    margin-bottom: 20px;
    padding: 65px 50px;
    border-radius: 10px;
}
.cd0ne h4{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}
.cd0ne a{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}

.cdtwo{
    background-image:linear-gradient( rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(./assets/deal-ana.png)  ;
    background-size: cover;
    text-align: center;
    
    padding: 65px 50px;
    border-radius: 10px;
}
.cdtwo h4{
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
}
.cdtwo a{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
.cdthree{
    
    background-image:linear-gradient( rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(./assets/deal-zabo.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 41%;

    border-radius: 10px;
    padding: 140px 128px;
}
.cdthree h4{
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
}
.cdthree a{
    font-size: 28px;
    font-weight: 600;
    color: #FFFFFF;
}


.four{
    background-image: url(./assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.newsletter{
    text-align: center;
    padding: 200px 0px;
}
.newsletter h3{
    padding-bottom: 23px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}
.newsletter form{
    display: flex;
    justify-content: center;
    max-width:830px ;
    margin: 0px auto;
}
form input[type="email"]{
    border: none;
    background: white;
    
    padding: 8px 20px;  
    font-size: 16px;
   width: 70%;
    
    
 }
 form input[type="submit"]{
    border: none;
    background: #E95A08;
    
     padding: 18px 50px;  
    font-size: 18px;
    color: #FFFFFF;
    width: 30%;
 }
form::placeholder{
    color: rgba(0, 0, 0, 0.4);
}
footer{
    
}
.ft{
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.ft ul{
    list-style: none;
}
.ft ul li{
    color: #6B7280;
    font-size: 16px;
}
.lpd{
    padding-bottom: 32px;
}

.ft-one{
    width: 30%;
}
.ft-one img{
    padding-bottom: 16px;
}
.ft-one p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
}
.ft-four{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}


@media screen and (max-width:576px) {
    
    nav{
        padding: 0px 16px;
    }
    nav img{
        width: 80px;
    }
    .bld , .lt{
        display: none;
    }
    .banner{
        margin-top: 30px;
        flex-direction: column-reverse;
        
    }
    .banner-content{
        padding-top: 30px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .banner-content h1{
        font-size: 32px;
    }
    .banner-content p{
        font-size: 18px;
    }
    .banner-iamge img{
        width: 100px;
    }
    .two-image-one{
        display: none;
    }
    .partition{
        flex-direction: column;
    }
    .parone{
        width: 90%;
        padding-bottom: 25px;
    }
    .newsletter{
        /* max-width: 320px;
        margin: 0 auto; */
        padding-top:110px ;
        padding-bottom: 64px;
        padding-right: 36px;
        padding-left: 36px;
    }
    .newsletter h3{
    
    font-size: 20px;
    
}
form input[type="submit"]{
    
     padding: 12px 19px;  
    width: 30%;
 }
 .ft{
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
 }
 .ft-one{
    width: 80%;
    padding-bottom: 20px;
}
.ft-one p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}
.ft-two{
    padding-bottom: 20px;
}
 .ft-four{
    padding-top: 20px;
    width: 60%;
}
}